# dependencies
*/node_modules
/node_modules

# builds
*/build
*/build-latest
/build
/build-latest

# error and debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store

# ide files
.idea
.vercel
